*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}


body {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    color: rgb(34, 34, 34);
    max-width: 1200px;
}

.Header{
    display: flex;
    background-color:rgb(34, 34, 34);
    width: 100%;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.head{
    display: flex;
    padding: 12px;
    flex-direction: row;
    align-items: center;
}

.head li{
    display: inline-block;
    margin: 10px;
}

.head a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    
}

a:hover{
    color:rgb(60, 60, 65);
    transition: 0.3s all;
}

.logo img{
    margin-top: 10px;
    margin-left: 30px;
}
 

/*--Aqui fica a main--*/

.main{
    display: flex;
}

.foto img{
    display: flex;
    width: 1000px;
    margin-top: 200px;
    margin-left: 65%;

}

.about-me{
    position: absolute;
    margin-top: 22%;
    margin-left: 12%;
}

.about-me h1{
    font-size: 65px;
    width: 800px;
}

.about-me p{
    width: 800px;
}

.opstions-obut-me a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:rgb(34, 34, 34);
    padding: 10px;
}

.opstions-obut-me h4{
    text-decoration: none;
    color:rgb(173, 173, 173);
    padding: 10px;
}

.opstions-obut-me{
    display: flex;
    text-align: center;
}

.Work{
    
}

.Works{
    width: 100%;
    padding: 20px;
    margin-top: 400px;
    margin-left: 15%;
    background-color: brown;
}

.Works ul{
    display: flex;
   list-style: none;
   justify-content: space-between;
}

.Works a{
    float: left;
    padding: 20px;
    align-items: center;  
}

.Work img{
    width: 100%;
}